@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.header {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5800ff;
  color: #fff;
  padding: 10px;
  min-width: 95vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 0 3px rgb(151, 179, 255);
}

.logo {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.nav ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.pagesLinks ul li:hover {
  font-size: 1.2rem;
  transition: 150ms all ease-in-out;
}

.brandIcons ul li {
  padding: 4px;
}
